P5R-Mod-Menu-English/build/input/atDngPack.pac
P5R-Mod-Menu-English/build/input/dngPack.pac
P5R-Mod-Menu-English/build/input/fldPack.pac
P5R-Mod-Menu-English/build/input/script/field/fscr0150_002_100.bf
P5R-Mod-Menu-English/build/output/*
P5R-Mod-Menu-English/build/input/extracted/*
P5R-Mod-Menu-English/AtlusScriptCompiler.log

P5R-Mod-Menu-French/build/input/atDngPack.pac
P5R-Mod-Menu-French/build/input/dngPack.pac
P5R-Mod-Menu-French/build/input/fldPack.pac
P5R-Mod-Menu-French/build/input/script/field/fscr0150_002_100.bf
P5R-Mod-Menu-French/build/output/*
P5R-Mod-Menu-French/build/input/extracted/*
P5R-Mod-Menu-French/AtlusScriptCompiler.log

P5R-Mod-Menu-German/build/input/atDngPack.pac
P5R-Mod-Menu-German/build/input/dngPack.pac
P5R-Mod-Menu-German/build/input/fldPack.pac
P5R-Mod-Menu-German/build/input/script/field/fscr0150_002_100.bf
P5R-Mod-Menu-German/build/output/*
P5R-Mod-Menu-German/build/input/extracted/*
P5R-Mod-Menu-German/AtlusScriptCompiler.log

P5R-Mod-Menu-Italian/build/input/atDngPack.pac
P5R-Mod-Menu-Italian/build/input/dngPack.pac
P5R-Mod-Menu-Italian/build/input/fldPack.pac
P5R-Mod-Menu-Italian/build/input/script/field/fscr0150_002_100.bf
P5R-Mod-Menu-Italian/build/output/*
P5R-Mod-Menu-Italian/build/input/extracted/*
P5R-Mod-Menu-Italian/AtlusScriptCompiler.log

P5R-Mod-Menu-Spanish/build/input/atDngPack.pac
P5R-Mod-Menu-Spanish/build/input/dngPack.pac
P5R-Mod-Menu-Spanish/build/input/fldPack.pac
P5R-Mod-Menu-Spanish/build/input/script/field/fscr0150_002_100.bf
P5R-Mod-Menu-Spanish/build/output/*
P5R-Mod-Menu-Spanish/build/input/extracted/*
P5R-Mod-Menu-Spanish/AtlusScriptCompiler.log